<a href="https://colab.research.google.com/github/ClauCll/Modelos/blob/master/carpeta_1/codigo_ejemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRIMER EJEMPLO DE GOOGLE COLAB
## EJEMPLO DE ESCRITURA
### EN ESTAPRIMERA CELDA DEFINIMOS LLIBRERIAS

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## ciclo for

In [0]:
l = []
for i in range(10):
  print(i)
  l.append(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
print("la variable l es = "+str(type(l)))
pd.DataFrame(l)

la variable l es = <class 'list'>

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9